xau-signal-bot.json
{
  "name": "XAU/USD Signal Bot",
  "nodes": [
    {
      "parameters": {},
      "id": "b1f1c1e0-1234-4567-8901-123456789abc",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text || '' }}",
        "rules": {
          "rules": [
            {
              "value2": "/start",
              "output": 0
            },
            {
              "value2": "/signals",
              "output": 1
            },
            {
              "value2": "/news",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "b2f2c2e0-1234-4567-8901-123456789abc",
      "name": "Command Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🤖 *Welcome to XAU/USD Signal Bot*\n\n📋 *Available Commands:*\n/signals - Get latest gold signals\n/news - Market news\n\n💡 This bot is for informational purposes only.\n⚠️ Always use proper risk management.",
        "parseMode": "Markdown"
      },
      "id": "b3f3c3e0-1234-4567-8901-123456789abc",
      "name": "Start Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/GC=F",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n)"
            }
          ]
        }
      },
      "id": "b4f4c4e0-1234-4567-8901-123456789abc",
      "name": "Yahoo Finance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.forexfactory.com/rss.php"
      },
      "id": "b5f5c5e0-1234-4567-8901-123456789abc",
      "name": "Forex News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        680,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// XAU/USD Technical Analysis\ntry {\n  const data = $input.first().json;\n  \n  if (!data?.chart?.result?.[0]) {\n    return [{ json: { error: 'No data', signal: 'HOLD', price: 'N/A' } }];\n  }\n  \n  const chart = data.chart.result[0];\n  const meta = chart.meta;\n  const price = meta.regularMarketPrice || meta.previousClose;\n  const prevClose = meta.previousClose;\n  const change = prevClose ? ((price - prevClose) / prevClose * 100) : 0;\n  \n  // Simple RSI calculation\n  const quotes = chart.indicators?.quote?.[0] || {};\n  const closes = quotes.close?.filter(p => p !== null).slice(-14) || [];\n  \n  function simpleRSI(prices) {\n    if (prices.length < 14) return 50;\n    \n    let gains = 0, losses = 0;\n    for (let i = 1; i < prices.length; i++) {\n      const diff = prices[i] - prices[i-1];\n      if (diff > 0) gains += diff;\n      else losses += Math.abs(diff);\n    }\n    \n    const avgGain = gains / 13;\n    const avgLoss = losses / 13;\n    if (avgLoss === 0) return 100;\n    \n    const rs = avgGain / avgLoss;\n    return 100 - (100 / (1 + rs));\n  }\n  \n  const rsi = simpleRSI(closes);\n  \n  // Signal generation\n  let signal = 'HOLD';\n  let confidence = 50;\n  \n  if (rsi < 30 && change > 0) {\n    signal = 'BUY';\n    confidence = 75;\n  } else if (rsi > 70 && change < 0) {\n    signal = 'SELL';\n    confidence = 75;\n  } else if (Math.abs(change) > 1) {\n    signal = change > 0 ? 'WEAK_BUY' : 'WEAK_SELL';\n    confidence = 60;\n  }\n  \n  const emoji = signal.includes('BUY') ? '🚀' : signal.includes('SELL') ? '💥' : '⏸️';\n  \n  return [{\n    json: {\n      price: price.toFixed(2),\n      change: change.toFixed(2),\n      rsi: rsi.toFixed(1),\n      signal: signal,\n      confidence: confidence,\n      emoji: emoji,\n      timestamp: new Date().toISOString()\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      error: error.message,\n      signal: 'HOLD',\n      price: 'Error'\n    }\n  }];\n}"
      },
      "id": "b6f6c6e0-1234-4567-8901-123456789abc",
      "name": "Technical Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "{{ $node['Technical Analysis'].json.emoji }} *XAU/USD Analysis*\n\n💰 *Price:* ${{ $node['Technical Analysis'].json.price }}\n📊 *Change:* {{ $node['Technical Analysis'].json.change }}%\n📈 *RSI:* {{ $node['Technical Analysis'].json.rsi }}\n\n🎯 *Signal:* {{ $node['Technical Analysis'].json.signal }}\n🔥 *Confidence:* {{ $node['Technical Analysis'].json.confidence }}%\n\n⏰ {{ new Date().toLocaleString('en-US') }}\n⚠️ Use proper risk management",
        "parseMode": "Markdown"
      },
      "id": "b7f7c7e0-1234-4567-8901-123456789abc",
      "name": "Signal Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📰 *Latest Gold News*\n\n{{ $node['Forex News'].json?.slice(0,3).map((item, i) => `${i+1}. ${item.title}\\n🔗 ${item.link}`).join('\\n\\n') || 'No news available' }}\n\n💡 News can impact gold prices significantly.",
        "parseMode": "Markdown"
      },
      "id": "b8f8c8e0-1234-4567-8901-123456789abc",
      "name": "News Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minute",
              "expression": "*/30"
            }
          ]
        }
      },
      "id": "b9f9c9e0-1234-4567-8901-123456789abc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.confidence }}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "b10f10c10e0-1234-4567-8901-123456789abc",
      "name": "Quality Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHANNEL_ID",
        "text": "🚨 *Auto XAU/USD Signal*\n\n{{ $node['Technical Analysis'].json.emoji }} *{{ $node['Technical Analysis'].json.signal }}*\n\n💰 ${{ $node['Technical Analysis'].json.price }}\n📊 {{ $node['Technical Analysis'].json.change }}%\n🔥 {{ $node['Technical Analysis'].json.confidence }}%\n\n⏰ {{ new Date().toLocaleString('en-US') }}",
        "parseMode": "Markdown"
      },
      "id": "b11f11c11e0-1234-4567-8901-123456789abc",
      "name": "Auto Broadcast",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        600
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Command Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Switch": {
      "main": [
        [
          {
            "node": "Start Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Yahoo Finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forex News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance": {
      "main": [
        [
          {
            "node": "Technical Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technical Analysis": {
      "main": [
        [
          {
            "node": "Signal Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quality Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forex News": {
      "main": [
        [
          {
            "node": "News Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Yahoo Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Filter": {
      "main": [
        [
          {
            "node": "Auto Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-05-25T12:30:00.000Z",
  "versionId": "1.0"
}
